* {
  line-height: 1.2;
  margin: 0;
}

html {
  color: #888;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  background: radial-gradient(circle, hsla(208, 33%, 21%, 1) 13%, hsla(208, 54%, 40%, 1) 23%, hsla(221, 36%, 23%, 1) 33%, hsla(272, 73%, 44%, 1) 90%);
}


body {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
}

h1 {
  color: #555;
  font-size: 3em;
  font-weight: 400;
}

p {
    margin: 0 auto;
    width: 280px;
    font-size: 1.7rem;
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
}

@media only screen and (max-width: 280px) {

  body,
  p {
    width: 95%;
  }

  h1 {
    font-size: 1.5em;
    margin: 0 0 0.3em;
  }

}
