@keyframes flyIn {
    0% {
        opacity: 0;
        transform: translateY(-110px);
    }

    75% {
        opacity: 0.65;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flyUp {
    0% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-20px) ;
    }

    to {
        transform: translateY(-25px);
    }
}

@keyframes flyDown {

    0% {
        transform: translateY(-25px);
    }

    70% {
        transform: translateY(-20px) ;
    }

    to {
        transform: translateY(0);
    }

}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, hsla(208, 33%, 21%, 1) 13%, hsla(208, 54%, 40%, 1) 23%, hsla(221, 36%, 23%, 1) 33%, hsla(272, 73%, 44%, 1) 90%);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
    color: rgba(164, 195, 120, 0.95);
}

h6 {
    font-size: 1.5rem;
    color: rgba(130, 158, 89, 0.95);
}

.info-container > a > h2 {
    font-size: 2.2rem;
    color: rgb(180, 184, 91);
}

.info-container > a > p {
    font-size: 1.5rem;
    max-width: 20rem;
    color: rgba(94, 117, 61, 0.95);
}

#heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    justify-self: center;
    flex-direction: column;
}

#info-containers-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 6rem;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    opacity: 0;
    background: linear-gradient(90deg, hsla(221, 36%, 23%, 0.5) 5%, hsla(272, 73%, 44%, 0.3));
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    height: 100%;
}

.info-container:hover {
    background: linear-gradient(90deg, hsla(221, 36%, 23%, 0.7) 5%, hsla(272, 73%, 44%, 0.5));
    cursor: pointer;
}

.animate-flyIn {
    animation-name: flyIn;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animate-flyUp:hover {
    animation-name: flyUp;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animate-flyDown {
    animation-name: flyDown;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1200px) {

    #heading-container {
        margin: 2rem;
    }

    #info-containers-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .info-container {
        margin: 0 1rem;
    }
}
